@media screen and (max-width: 769px) {
  .main-h1 {
    font-size: 50px;
  }
  .hero-form {
    width: 80%;
  }
}
@media screen and (max-width: 1025px) {
  .about-card {
    height: auto;
  }
}

@media screen and (max-width: 769px) {
  .about-content > h5 {
    font-size: 19px !important;
  }
  .about-content > p {
    font-size: 19px !important;
    padding-block: 10px !important;
    margin: 0px !important;
  }
  .about-card {
    width: 50% !important;
  }
}

@media screen and (max-width: 426px) {
  .about-card {
    width: 100% !important;
  }
}

@media screen and (max-width: 321px) {
  .about-content > h5 {
    font-size: 18px !important;
  }
  .about-content > p {
    font-size: 17px !important;
    padding-block: 10px !important;
    margin: 0px !important;
  }
}

@media screen and (max-width: 1025px) {
  .footer-img {
    margin-top: 10%;
  }
}
@media screen and (max-width: 769px) {
  .footer-content {
    width: 23%;
  }
  .ftr-info {
    justify-content: center;
  }
}

@media screen and (max-width: 426px) {
  .footer-content {
    width: 48%;
  }
}

@media screen and (max-width: 376px) {
  .footer {
    padding: 25px !important;
  }
}

@media screen and (max-width: 321px) {
  .footer {
    padding: 15px !important;
  }
  .footer-content {
    width: 50%;
  }
}
@media screen and (max-width: 1025px) {
  .request-btn,
  .signin-btn {
    width: auto;
    height: 35px;
    font-size: 18px;
    padding-inline: 20px;
  }
}

@media screen and (max-width: 376px) {
  .help {
    font-size: 18px;
  }
}

@media screen and (max-width: 321px) {
  .logo {
    width: 115px;
  }
}
